#calendar{
    display: grid;
    grid-template-columns:repeat(7,1fr)
}

.day-slot{
    border: solid 1px;
    padding: 3px;
}


/* keeping empty slots without a border after adding day names looks a bit strange, maybe we can give them another style  */
.empty-slot{
    border: none;
}